.ProductImg-0{
    width: 500px;
    height: 500px;
    margin-top: 5px;
}
.DistributorContainer
{
    margin-left: 90px;
    margin-top: 20px;
}
.DiamondDetails{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr{
    margin-left: 0px;
    margin-right: 90px;
}